/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body space for fixed header */
body {
  padding-top: 80px;
  background: #161616;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
/* ===== HEADER LOAD SMOOTH EFFECT ===== */
#header {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

#header.show {
  opacity: 1;
  visibility: visible;
}

/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 0 30px rgba(0, 238, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.4s ease;
}

/* Scroll effect (optional) */
.header.scrolled {
  background: rgba(10, 10, 10, 0.9);
  box-shadow: 0 10px 40px rgba(0, 238, 255, 0.3);
  border-bottom: 1px solid rgba(0, 238, 255, 0.3);
}

/* ===== LOGO ===== */
.logo {
  height: 120px;
  width: auto;
  cursor: pointer;
  transition: 0.4s ease;
  filter: drop-shadow(0 0 5px rgba(0, 238, 255, 0.3));
}

.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px #0ef);
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Links */
.navbar a {
  position: relative;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 6px;
  transition: 0.3s ease;
}

/* Hover */
.navbar a:hover {
  color: #0ef;
  transform: translateY(-2px);
  text-shadow: 0 0 8px #0ef;
}

/* Underline */
.navbar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #0ef, #00f5ff);
  box-shadow: 0 0 10px #0ef;
  border-radius: 10px;
  transition: 0.4s ease;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

/* Active */
.navbar a.active {
  color: #0ef;
  text-shadow: 0 0 10px #0ef;
}

/* ===== TOGGLE BUTTON ===== */
.nav-toggle {
  display: none;
  font-size: 26px;
  color: #0ef;
  cursor: pointer;
   z-index: 10001;
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {
  .header {
    padding: 0 25px;
  }

  .nav-toggle {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(53vh - 40px);
    background: #161616;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.4s ease;
    /* z-index: 9999; */
  }

  .navbar.active {
    left: 0;
  }

  .navbar a {
    font-size: 22px;
  }
  .logo {
    height: 45px;
  }

}

  
